In [1]:
import pandas as pd
import os
os.getcwd()

'/home/nhan/Desktop/cpp-cuda-deeplearning/pytorch/data/pets'

In [2]:
# from glob import glob
# data_dir = './*/*/*'

# for f in glob(data_dir):
#     if '(' in f or '.jpg' not in f:
#         os.remove(os.getcwd() + '/' + f)
#         print(f)

# glob(data_dir)

In [3]:
data_dir = 'train'
images, labels = [], []

for p, l in zip(('cat', 'dog'), (0, 1)):
    files = os.listdir(data_dir + '/' + p)
    images += files
    labels += [l] * len(files)

df = pd.DataFrame()
df['image'] = images
df['label'] = labels
df = df.sample(frac=1).reset_index(drop=True)
df.to_csv(f'{data_dir}.csv', index=False)
df.head()

          image  label
0  cat.3049.jpg      0
1  dog.1044.jpg      1
2   cat.373.jpg      0
3   dog.333.jpg      1
4  dog.1088.jpg      1

In [4]:
data_dir = 'test'
images, labels = [], []

for p, l in zip(('cat', 'dog'), (0, 1)):
    files = os.listdir(data_dir + '/' + p)
    images += files
    labels += [l] * len(files)

df = pd.DataFrame()
df['image'] = images
df['label'] = labels
df = df.sample(frac=1).reset_index(drop=True)
df.to_csv(f'{data_dir}.csv', index=False)
df.head()

          image  label
0  dog.4845.jpg      1
1  cat.4653.jpg      0
2  dog.4924.jpg      1
3  dog.4596.jpg      1
4  dog.4092.jpg      1